table{
    margin: 10px;
    border-collapse: collapse;
    float: left;
    width: 90%;
}

td {
    border: 1px solid black;
    border-bottom-color: yellowgreen;
}

.ItalicText{
    font-style: italic;
}
