h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

my-employee {
    width: 50%;
    float: left;
}

my-gallery{
    text-align: center;
    width: 50%;
    float: right;
}